affine==2.3.0
alabaster==0.7.12
argh==0.26.2
astroid @ file:///C:/ci/astroid_1592495992870/work
async-generator==1.10
atomicwrites==1.4.0
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
autograd==1.3
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
Babel==2.8.0
backcall==0.2.0
bcrypt @ file:///C:/ci/bcrypt_1597936262193/work
beautifulsoup4==4.9.3
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
Bottleneck==1.3.2
brotlipy==0.7.0
bs4==0.0.1
cached-property==1.5.2
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1600681203656/work
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.7.0
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
contextvars==2.4
cryptography @ file:///C:/ci/cryptography_1601046909128/work
cycler==0.10.0
dask==2.30.0
dask-jobqueue==0.7.1
dataclasses==0.8
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
dill==0.3.2
distributed==2.30.0
docutils==0.16
dtcwt==0.12.0
eli5==0.11.0
entrypoints==0.3
envi==0.2.2
et-xmlfile==1.0.1
Fiona==1.8.13.post1
flake8 @ file:///tmp/build/80754af9/flake8_1601911421857/work
future==0.18.2
GDAL==3.0.2
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1594925563431/work
graphviz==0.16
h5py==3.1.0
HeapDict==1.0.1
html5lib==1.1
hummingbird-ml==0.2.1
hyperopt @ file:///home/conda/feedstock_root/build_artifacts/hyperopt_1602661729544/work
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imageio==2.9.0
imagesize==1.2.0
immutables==0.14
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
iniconfig==1.1.1
intervaltree @ file:///tmp/build/80754af9/intervaltree_1598376443606/work
ipykernel @ file:///C:/ci/ipykernel_1596206775157/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1593446240034/work
ipython-genutils==0.2.0
irs==7.0.2
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
jdcal==1.4.1
jedi @ file:///C:/ci/jedi_1592841982010/work
Jinja2==2.11.2
joblib==0.17.0
# Editable install with no version control (jostar==0.0.1)
-e e:\github\jostar_main
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core==4.6.3
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
keyring @ file:///C:/ci/keyring_1601490935777/work
kiwisolver @ file:///C:/ci/kiwisolver_1603996656077/work
lazy-object-proxy==1.4.3
lifelines==0.21.3
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.1.0
mccabe==0.6.1
mistune==0.8.4
mizani==0.7.1
msgpack==1.0.0
multiprocess==0.70.10
munch==2.5.0
mutagen==1.45.1
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///C:/ci/nbconvert_1601896775581/work
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1601499549014/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
numpy @ file:///D:/bld/numpy_1603047746511/work
numpydoc @ file:///tmp/build/80754af9/numpydoc_1594166760263/work
olefile==0.46
onnx==1.8.1
onnxconverter-common==1.7.0
opencv-python==3.4.11.43
openpyxl @ file:///tmp/build/80754af9/openpyxl_1610651698508/work
packaging==20.4
palettable==3.3.0
pandas @ file:///D:/bld/pandas_1603237092730/work
pandocfilters==1.4.2
paramiko @ file:///tmp/build/80754af9/paramiko_1598886428689/work
parso==0.7.0
pathos==0.2.6
pathtools==0.1.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///C:/ci/pillow_1603822370986/work
plantcv==3.10.1
plotnine==0.7.1
pluggy==0.13.1
pox==0.2.8
ppft==1.6.6.2
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
protobuf==3.15.4
psutil @ file:///C:/ci/psutil_1598352185190/work
py==1.9.0
pycodestyle==2.6.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1598885001695/work
pyflakes==2.2.0
Pygments @ file:///tmp/build/80754af9/pygments_1604103097372/work
pylint @ file:///C:/ci/pylint_1598624066230/work
pymongo @ file:///D:/bld/pymongo_1602534007118/work
PyNaCl @ file:///C:/ci/pynacl_1595009245871/work
PyOpenGL==3.1.1a1
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyproj==2.6.1.post1
pyrsistent @ file:///C:/ci/pyrsistent_1600141799440/work
PySocks==1.7.1
pysptools==0.15.0
pytest==6.1.2
python-dateutil==2.8.1
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1600278539111/work
python-language-server @ file:///tmp/build/80754af9/python-language-server_1600454544709/work
pytz==2020.1
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1602272867890/work
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
rasterio==1.1.0
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
roipoly==0.5.3
rope @ file:///tmp/build/80754af9/rope_1602264064449/work
rpy2==3.3.6
Rtree==0.9.4
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.2.1
seaborn==0.11.0
Shapely==1.7.1
six==1.15.0
snowballstemmer==2.0.0
snuggs==1.4.7
sortedcontainers==2.2.2
soupsieve==2.1
spectral==0.22.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1597428793432/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spotipy==2.16.1
spyder @ file:///C:/ci/spyder_1599057304706/work
spyder-kernels @ file:///C:/ci/spyder-kernels_1599051725691/work
statsmodels==0.12.0
tabulate==0.8.7
tblib==1.7.0
tensorboard==1.9.0
tensorflow-gpu==1.9.0
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.9.3
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz==0.11.1
torch==1.7.1
tornado==6.0.4
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1607145891039/work
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.3
tzlocal==2.1
ujson @ file:///C:/ci/ujson_1602508243091/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
watchdog @ file:///C:/ci/watchdog_1593446204230/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wkhtmltopdf==0.2
wrapt==1.11.2
wxPython==4.0.4
xlrd==1.2.0
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
ydl-binaries==1.1.9
youtube-dl==2021.2.4
zict==2.0.0
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
